/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

#sortBy {
  margin: 10px 0;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#movies {
  margin-top: 20px;
}

.movie {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.movie img {
  width: 120px;
  height: auto;
  margin-right: 20px;
}

.movie-info {
  flex: 1;
}

.movie-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.movie-overview {
  margin-bottom: 10px;
}

.movie-rating {
  font-size: 16px;
  font-weight: bold;
}

.movie-release-date {
  font-size: 14px;
  color: #666;
}



img {
  width: 120;
}

.release-date {
  font-size: 14px;
  color: #666;
}
.rating {
  font-weight: bold;
}
p {
  margin-bottom: 10px;
}
article {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
img {
  margin-right: 20px;
}
button:hover {
  background-color: #0056b3;
}
